<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row form-container">
        <div class="col-md-12 form-left">
            <h3 class="mb-4 text-center">Register</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" placeholder="First Name"
                            formControlName="user_firstName">
                        <span *ngIf="registerForm.get('user_firstName')?.errors?.['required'] && registerForm.get('user_firstName')?.touched"
                            class="error">Please Enter First Name..!</span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="user_lastName">
                        <span *ngIf="registerForm.get('user_lastName')?.errors?.['required'] && registerForm.get('user_lastName')?.touched"
                            class="error">Please Enter Last Name..!</span>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email" formControlName="user_email">
                    <span *ngIf="registerForm.get('user_email')?.invalid && registerForm.get('user_email')?.touched"
                        class="error">Please enter a valid email..!</span>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Contact" formControlName="user_contact">
                    <span *ngIf="registerForm.get('user_contact')?.errors?.['required'] && registerForm.get('user_contact')?.touched"
                        class="error">Please Enter Contact No..!</span>
                    <span *ngIf="registerForm.get('user_contact')?.errors?.['pattern'] && registerForm.get('user_contact')?.touched"
                        class="error">Invalid Contact No...!</span>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" formControlName="user_password">
                    <span *ngIf="registerForm.get('user_password')?.errors?.['required'] && registerForm.get('user_password')?.touched"
                        class="error">Please Enter Password ..!</span>
                    <span *ngIf="registerForm.get('user_password')?.errors?.['minlength']"
                        class="error">Minimum 8 Character...!</span>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Confirm Password"
                        formControlName="user_confirmpassword">
                    <span *ngIf="registerForm.get('user_confirmpassword')?.errors?.['required'] && registerForm.get('user_confirmpassword')?.touched"
                        class="error">Please Enter Confirm Password..!</span>
                </div>
                <button type="submit">Register</button>
            </form>

            <p class="text-center mt-3">
                Already have an account?
                <a routerLink="/login" class="text-primary">Login here</a>
            </p>
        </div>
    </div>
</div>