<!-- <section class="pb-5">
    <div class="container-lg">

      <div class="row">
        <div class="col-md-12">

          <div class="section-header d-flex flex-wrap justify-content-between my-4">
            
            <h2 class="section-title">Best selling products</h2>

            <div class="d-flex align-items-center">
              <a href="#" class="btn btn-primary rounded-1">View All</a>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">

          <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                
            <div class="col">
              <div class="product-item">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-1.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> -->


<section class="pb-5">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title">Best Selling Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product-grid row">
          <!-- Loop over each product in data -->
          <div class="col" *ngFor="let product of data">
            <div class="card">
              <div class="image-container">
                <svg viewBox="0 0 1921 1081" [attr.xmlns:xlink]="'http://www.w3.org/1999/xlink'"
                  xmlns="http://www.w3.org/2000/svg" class="svg">
                  <defs>
                    <radialGradient gradientUnits="objectBoundingBox"
                      gradientTransform="translate(0.219) scale(0.563 1)" r="1.204" cy="0.5" cx="0.5"
                      id="radial-gradient">
                      <stop stop-color="#fff" offset="0"></stop>
                      <stop stop-color="#bcbcbc" offset="1"></stop>
                    </radialGradient>
                  </defs>
                  <g transform="translate(-121.5 -92.5)" id="hoodie">
                    <rect fill="url(#radial-gradient)" stroke-width="1" stroke-miterlimit="10" stroke="#fff"
                      transform="translate(122 93)" height="1080" width="1920" data-name="Rectangle 83"
                      id="Rectangle_83"></rect>
                    <g transform="translate(679.338 886.938)" data-name="Group 67" id="Group_67">
                      <path fill="#dbdbdb" transform="translate(-679.026 -701.302)"
                        d="M689.907,702.85s-7.253,22.231-9.689,34.844a8.084,8.084,0,0,0,2.15,7.3c5.49,5.5,19.551,16.583,46.956,20.927a15.4,15.4,0,0,0,14.4-5.733l14.95-18.791Z"
                        data-name="Path 27" id="Path_27"></path>
                      <path transform="translate(-679.338 -701.77)"
                        d="M731.958,767.6a14.468,14.468,0,0,1-2.48-.2c-27.247-4.329-41.466-15.15-47.529-21.228a9.162,9.162,0,0,1-2.437-8.227c2.422-12.527,9.646-34.744,9.718-34.973l.387-1.2,1.089.616,69.846,39.13-15.709,19.737A16.4,16.4,0,0,1,731.958,767.6Zm-41.136-62.765c-1.534,4.787-7.2,22.79-9.274,33.526a7.031,7.031,0,0,0,1.878,6.364c5.877,5.891,19.723,16.412,46.382,20.64a14.4,14.4,0,0,0,13.445-5.361l14.19-17.845Z"
                        data-name="Path 28" id="Path_28"></path>
                    </g>
                    <g transform="translate(1403.771 886.981)" data-name="Group 68" id="Group_68">
                      <path fill="#dbdbdb" transform="translate(-1184.283 -701.345)"
                        d="M1254.631,702.85s7.253,22.231,9.689,34.844a8.084,8.084,0,0,1-2.15,7.3c-5.49,5.5-19.551,16.583-46.956,20.927a15.4,15.4,0,0,1-14.4-5.733l-14.95-18.791Z"
                        data-name="Path 29" id="Path_29"></path>
                      <path transform="translate(-1184.76 -701.8)"
                        d="M1213.369,767.59a16.533,16.533,0,0,1-12.9-6.307l-15.709-19.737L1255.7,701.8l.387,1.2c.072.215,7.31,22.432,9.718,34.973a9.161,9.161,0,0,1-2.437,8.227c-6.049,6.063-20.282,16.9-47.529,21.228A20.362,20.362,0,0,1,1213.369,767.59Zm-25.485-25.427,14.19,17.845a14.42,14.42,0,0,0,13.445,5.361c26.674-4.243,40.506-14.749,46.4-20.64a7.093,7.093,0,0,0,1.878-6.364c-2.078-10.75-7.74-28.738-9.273-33.525Z"
                        data-name="Path 30" id="Path_30"></path>
                    </g>
                    <!-- Additional SVG groups and paths as defined... -->
                  </g>
                </svg>
                <div class="price">{{ product.product_price | currency }}</div>
              </div>
              <!-- The rest of your card content goes here -->
              <!-- Favorite icon (static as defined) -->
              <label class="favorite">
                <input type="checkbox" checked>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
                  <path
                    d="M12 20a1 1 0 0 1-.437-.1C11.214 19.73 3 15.671 3 9a5 5 0 0 1 8.535-3.536l.465.465.465-.465A5 5 0 0 1 21 9c0 6.646-8.212 10.728-8.562 10.9A1 1 0 0 1 12 20z">
                  </path>
                </svg>
              </label>

              <!-- Content area -->
              <div class="content">
                <div class="product-name">{{ product.product_name }}</div>
                <div class="description">{{ product.product_description }}</div>
                <div class="rating">
                  <svg viewBox="0 0 99.498 16.286" xmlns="http://www.w3.org/2000/svg" class="svg four-star-svg">
                    <path fill="#fc0"
                      d="M9.357,1.558,11.282,5.45a.919.919,0,0,0,.692.5l4.3.624a.916.916,0,0,1,.509,1.564l-3.115,3.029a.916.916,0,0,0-.264.812l.735,4.278a.919.919,0,0,1-1.334.967l-3.85-2.02a.922.922,0,0,0-.855,0l-3.85,2.02a.919.919,0,0,1-1.334-.967l.735-4.278a.916.916,0,0,0-.264-.812L.279,8.14A.916.916,0,0,1,.789,6.576l4.3-.624a.919.919,0,0,0,.692-.5L7.71,1.558A.92.92,0,0,1,9.357,1.558Z">
                    </path>
                  </svg>
                  ({{ product.total_ratings }})
                </div>
              </div>

              <!-- Button container with quantity selector and action buttons -->
              <div class="button-container">
                <div class="row g-1 mt-2">
                  <div class="col-3">
                    <input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity"
                      value="1">
                  </div>
                  <div class="col-7">
                    <button class="buy-button button">Buy Now</button>
                  </div>
                  <div class="col-2">
                    <button class="cart-button button">
                      <svg viewBox="0 0 27.97 25.074" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M0,1.175A1.173,1.173,0,0,1,1.175,0H3.4A2.743,2.743,0,0,1,5.882,1.567H26.01A1.958,1.958,0,0,1,27.9,4.035l-2.008,7.459a3.532,3.532,0,0,1-3.4,2.61H8.36l.264,1.4a1.18,1.18,0,0,0,1.156.955H23.9a1.175,1.175,0,0,1,0,2.351H9.78a3.522,3.522,0,0,1-3.462-2.865L3.791,2.669A.39.39,0,0,0,3.4,2.351H1.175A1.173,1.173,0,0,1,0,1.175ZM6.269,22.724a2.351,2.351,0,1,1,2.351,2.351A2.351,2.351,0,0,1,6.269,22.724Zm16.455-2.351a2.351,2.351,0,1,1-2.351,2.351A2.351,2.351,0,0,1,22.724,20.373Z">
                        </path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- End *ngFor -->
        </div>
      </div>
    </div>
  </div>
</section>